# Java build files
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# Maven & Gradle directories
target/
build/

# IDE settings
.idea/
*.iml
.classpath
.project
.settings/
bin/

# NetBeans
nbproject/private/
nbbuild/
dist/

# VSCode settings
.vscode/

# OS X system files
.DS_Store

# Logs
*.log
